<% layout('/layouts/boilerplate') -%>
    <div class="row">
        <div class="col-8 offset-2">

    <form method="post" action="/update/<%= currentproduct._id %>?_method=PUT">
        <br><br>
        <div class="mb-3">
            <label class="form-label" for="title" >Title:</label>
            <input class="form-control" type="text" name="title" id="title" placeholder="Title" value="<%=currentproduct.title %>">
        </div>
         <div class="mb-3">
            <label class="form-label" for="description">Description:</label> <br>
        <textarea class="form-control" name="description" id="description" placeholder="description"> <%=currentproduct.description %></textarea>
         </div>
       <div class="mb-3">
        <label class="form-label" for="filename">Image Filename:</label>
        <input class="form-control" type="text" name="image[filename]" id="filename" placeholder="Image Filename" value="<%=currentproduct.image.filename %>"  > 
       </div>
       <div class="mb-3">
        <label class="form-label" for="url">IMage Url:</label>
        <input class="form-control" type="url" name="image[url]" id="url" placeholder="Image URL"  value="<%=currentproduct.image.url %> " >
       </div>
        <div class="mb-3">
            <label class="form-label" for="price">Price:</label>
        <input class="form-control" type="number" name="price" id="price" placeholder="price" value="<%= currentproduct.price %>" >
        </div>
       <div class="row">
        <div class="mb-3 col-7">
            <label class="form-label" for="location">Location:</label>
            <input class="form-control" type="text" name="location" id="location" placeholder="location"  value="<%=currentproduct.location %>">
           </div>
            <div class="mb-3 col-5">
                <label class="form-label" for="country">country:</label>
                <input class="form-control" type="text" name="country" placeholder="country"  value="<%=currentproduct.country %> ">
            </div>
       </div>
       <br>
        <button class="btn btn-dark edit-btn"> Update</button>
    </form>
        </div>
    </div>