<% layout('/layouts/boilerplate') -%>
    <div class="row">
        <div class="col-8 offset-2">

    <form method="post" action="/update/<%= currentproduct._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
        <br><br>
        <div class="mb-3">
            <label class="form-label" for="title" >Title:</label>
            <input class="form-control" type="text" name="title" id="title" placeholder="Title" value="<%=currentproduct.title %>" required>
            <div class="invalid-feedback">Please Enter Title</div>
        </div>
         <div class="mb-3">
            <label class="form-label" for="description">Description:</label> <br>
        <textarea class="form-control" name="description" id="description" placeholder="description" required> <%=currentproduct.description %></textarea>
        <div class="invalid-feedback">Please Enter a sort Description</div>
         </div>
       <div class="mb-3">
        <label class="form-label" for="url">Upload New Image:</label>
        <input class="form-control" type="file" name="image[file]" id="url"   >
        <div class="invalid-feedback">Please Enter image url</div>
       </div>
       <div class="mb-3">
          <div><b>current picture</b></div>
        <img src="<%=currentimage%>" alt="current image">
       </div>
        <div class="mb-3">
            <label class="form-label" for="price">Price:</label>
        <input class="form-control" type="number" name="price" id="price" placeholder="price" value="<%= currentproduct.price %>" required >
        <div class="invalid-feedback">Please Enter The Price</div>
        </div>
       <div class="row">
        <div class="mb-3 col-7">
            <label class="form-label" for="location">Location:</label>
            <input class="form-control" type="text" name="location" id="location" placeholder="location"  value="<%=currentproduct.location %>" required>
            <div class="invalid-feedback">Please Enter The Location</div>
           </div>
            <div class="mb-3 col-5">
                <label class="form-label" for="country">country:</label>
                <input class="form-control" type="text" name="country" placeholder="country"  value="<%=currentproduct.country %> " required>
                <div class="invalid-feedback">Please Enter The country</div>
            </div>
       </div>
       <br>
        <button class="btn btn-dark edit-btn"> Update</button>
    </form>
        </div>
    </div>