<% layout('/layouts/boilerplate') -%>
<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const coordinates = <%- JSON.stringify(product.Geolocation.coordinates) %>; // Get coordinates

  console.log("Coordinates:", coordinates); // Debugging output
</script>

<div class="row">
    <div class="col-9 mt-2 offset-2 mt-3">
        <h2><%= product.title %></h2>
<div class="card product_card">
    <div class="col-9 " >
        <img src="<%= product.image.url %>" class="card-img-top show-image" alt="<%=product.image.filename %>">
    </div>
    <div class="card-body mt-3">
      <h4>post Created by: <b><%= product.owner.username %>&nbsp;</b></h4>
        <h4><b><%= product.location %>,&nbsp;<%= product.country %></b></h4>
        <p>price: &#36;<%= product.price.toLocaleString("en-US") %></p>
      <p class="card-text"><b>Description:</b><br><%= product.description %></p>
    </div>
  </div>

    </div>
    <% if (curentuser && product.owner._id.equals(curentuser._id)) {   %>
   <div class="col-5 offset-2 edit-delete-btn">
    <a href="/edit/<%= product._id%>" class="btn btn-dark edit-btn"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</a>
    <form method="post" action="/delete/<%=product._id%>?_method=DELETE">
        <button class="btn btn-dark delete-btn"><i class="fa-solid fa-trash"></i>&nbsp;Delete</button>
    </form>
   </div>
   <% } %>
   <div class="review col-9 mb-3 offset-2 mt-3 ">
    <% if (curentuser) { %>
    <form method="post" action="/product/<%=product._id%>/review" class="needs-validation" novalidate>
      <div >
        <label for="rating">Rating: </label>
        <fieldset class="starability-slot" id="rating">
          <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
          <input type="radio" id="second-rate1" name="rating" value="1" />
          <label for="second-rate1" title="Terrible">1 star</label>
          <input type="radio" id="second-rate2" name="rating" value="2" />
          <label for="second-rate2" title="Not good">2 stars</label>
          <input type="radio" id="second-rate3" name="rating" value="3" />
          <label for="second-rate3" title="Average">3 stars</label>
          <input type="radio" id="second-rate4" name="rating" value="4" />
          <label for="second-rate4" title="Very good">4 stars</label>
          <input type="radio" id="second-rate5" name="rating" value="5" />
          <label for="second-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div >
        <label class="form-label" for="comment">Write Comment: </label>
        <textarea class="form-control" name="comment" id="comment" required></textarea>
        <div class="invalid-feedback">please write you review first</div>
      </div>
      <button class="btn btn-dark review-btn mt-2">submit</button>
    </form>
    <% } %>
    <hr>
    <% if (product.review.length>0)  {  %>
    <p>All listing</p>
    <div class="row ">
      <% for(review of product.review) {  %>    
        <div class="card col-5 ms-2 mt-2 mb-2">
          <div class="card-body">
            <h5 class="card-title"><%= review.Author.username %></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
              <p class="starability-result" data-rating=<%= review.rating%>>
                
              </p>
            </h6>
            <p class="card-text"><%= review.comment%></p>
            
          </div>
          <div class="form">
              <% if (curentuser && review.Author._id.equals(curentuser._id)) { %>
              <form method="post" action="/product/<%=product._id%>/remove/<%=review._id%>?_method=DELETE">
                <button style="color: brown;" class="btn mb-2 offset-9">Delete</button>
              </form>
              <% } %>
          </div>
        </div>
        <%}%>
      
    </div>  
    <% } %>
 
    <div class="map col-8 mb-3  mt-3">
      <h2> Where you,ll be</h2>
      <div id="my-map" ></div>
      
  
    </div>
 </div>
</div>

 
<script src="/js/map.js"></script>